#MainNavigationContainer {
    background-color: white;
}
#MainNavigation {
    background-color: white;
    
    .NavContainer {
        margin-left: 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        .Avatar {
            position: absolute;
            left: -80px;
            bottom: 8px;
            @media(max-width: 640px) {
                position: relative;
            }
        }
    }
    .item {
        font-size: 18px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        height: 48px;
        cursor: pointer;

        transition: background-color 0.2s;
        &:hover {
            background-color: #efefef;
        }

        &.selected {
            border-bottom: 2px solid black;
            cursor: normal;
        }
    }
}